In [1]:
import pandas as pd

In [5]:
heading = ['Name', 'ID', 'Salary', 'Department']
info =[
    ['Adam', 'E7876', 50000, 'Accounting'],
    ['Jones', 'E7499', 45000, 'Research'], 
    ['Martin','E7900', 50000, 'Sales'],
    ['Smith', 'E7698', 55000, 'Operations']
]

data = pd.DataFrame(data=info, columns=heading)

In [11]:
data = pd.DataFrame(data=info, columns=heading)

In [7]:
EmployeeData = {
    'Name': ['Adam', 'Jones', 'Martin', 'Smith'],
    'ID': ['E7876', 'E7499', 'E7900', 'E7698'],
    'Salary': [50000, 45000, 50000, 55000],
    'Department': ['Accounting', 'Research', 'Sales', 'Operation'],
}

In [9]:
data = pd.DataFrame(data=EmployeeData)
data

     Name     ID  Salary  Department
0    Adam  E7876   50000  Accounting
1   Jones  E7499   45000    Research
2  Martin  E7900   50000       Sales
3   Smith  E7698   55000   Operation